/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  background-color: #eef;
}

code {
  padding: 0;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
  @extend %vertical-rhythm;
  border-radius: 4px;

  table td { padding: 5px; }
  table pre { margin: 0; }

  .highlighter-rouge & {
    background: #191919;
  }

  .highlight, .w {
    color: #191919;
  }
  .err {
    color: #ac4142;
    /*background-color: #ac4142;*/
  }
  .c, .cd, .cm, .c1, .cs {
    color: #888;
  }
  .cp {
    color: #f4bf75;
  }
  .nt {
    color: #f4bf75;
  }
  .o, .ow {
    color: #d0d0d0;
  }
  .p, .pi {
    color: #d0d0d0;
  }
  .gi {
    color: #7aa959;
  }
  .gd {
    color: #ce4f51;
  }
  .gh {
    color: #6a9fb5;
    font-weight: bold;
  }
  .k, .kn, .kp, .kr, .kv {
    color: #aa759f;
  }
  .kc {
    color: #d28445;
  }
  .kt {
    color: #d28445;
  }
  .kd {
    color: #d28445;
  }
  .s, .sb, .sc, .sd, .s2, .sh, .sx, .s1 {
    color: #7aa959;
  }
  .sr {
    color: #75b5aa;
  }
  .si {
    color: #8f5536;
  }
  .se {
    color: #8f5536;
  }
  .nn {
    color: #f4bf75;
  }
  .nc {
    color: #f4bf75;
  }
  .no {
    color: #f4bf75;
  }
  .na {
    color: #6a9fb5;
  }
  .m, .mf, .mh, .mi, .il, .mo, .mb, .mx {
    color: #90a959;
  }
  .ss {
    color: #90a959;
  }
}